* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#content-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -7em;
}

#footer, #push {
  height: 4em; /* .push must be the same height as .footer */
}

body {
  background-color: transparent;
  width: 45em;
  margin-left: auto;
  margin-right: auto;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  color: #333;
}

a:hover {
  text-decoration: underline;
}

a.core-nav {
  color: #333;
  text-decoration: none;
  display: inline-block;
}

a.core-nav:hover {
  color: #268ED4;
  text-decoration: none;
}

#header {
  padding-top: .8em;
}

#header ul {
  list-style-type: none;
}

#header li {
  float: left;
  font-size: 50px;
  margin-left: 116px;
}

#header li:first-child {
  margin-left: 0;
}

#search {
  width: 100%;
  display: table;
  margin-bottom: 12px;
}

#search form {
  margin-top: 12px;
}

#search input[type=text] {
  float: left;
  width: 78%;
}

#search input[type=submit] {
  float: right;
  width: 20%;
}

#content {
  border-top: 1px solid #999;
  padding-top: 1em;
  margin-top: 1em;
  font-size: normal;
}
#content img.inline-left {
  float: left;
  margin: .3em 1em 0 0;
  width:180px;
  height: 180px;
}

#footer {
  text-align: center;
  margin: 2em 0 1em;
}


#footer p {
  margin: 0;
}

#contact-info {
  padding: .2em;
  font-size: 80%;
}

#copyright a {
  font-size: 200%;
}

#homepage {
  position: relative;
  width: 780px;
}

#arenas-of-awesome {
  position: absolute;
  top: 50%;
}

#arenas-of-awesome ul {
  position: absolute;
  top: -50px;
  width: 780px;
  height: 100px;
}

#arenas-of-awesome li {
  list-style-type: none;
  float: left;
  margin-left: 104px;
  font-size: 72px;
}


#arenas-of-awesome li:first-child {
  margin-left: 0;
}

.published_on {
  margin-bottom: 1em;
  font-size: .8em;
  font-weight: normal;
  display: block;
}

ul.posts {
  list-style: none;
  margin-left: 0;
  padding-left: 0em;
  text-indent: -1.5em;
}

ul.posts li {
  margin: 1em 0;
  list-style-type: none;
}

ul.posts .title {
  font-size: 120%;
}

#related-posts .posts {
  clear: both;
}

#related-posts h2 a {
  display: inline-block;
  color: #F6892C;
}

#related-posts h2 a {
  text-decoration: none;
}

.post-footer {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
  font-size: 110%;
}

#archive h1 {
  margin-top: 0.8em;
}

blockquote p.attribution {
  text-align:right;
}

#btn {
  width:38px;
  height: 38px;
  display: none;
  position: fixed;
  left:50%;
  bottom:30px;
  background:url(http://paddingme.qiniudn.com/top.png) no-repeat;margin-left: 30%;
}

.ds-thread{
  margin-bottom: 2em;
}


/**
 * yue.css
 *
 * yue.css is designed for readable content.
 *
 * Copyright (c) 2013 - 2014 by Hsiaoming Yang.
 */

.yue {
  font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  color: #444443;
}
.windows .yue {
  font-size: 16px;
  font-family: "Georgia", "SimSun", sans-serif;
}
.yue ::-moz-selection {
  background-color: rgba(0,0,0,0.2);
}
.yue ::selection {
  background-color: rgba(0,0,0,0.2);
}
.yue h1,
.yue h2,
.yue h3,
.yue h4,
.yue h5,
.yue h6 {
  font-family: "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", "SimSun", sans-serif;
  color: #222223;
}
.yue h1 {
  font-size: 1.8em;
  margin: 0.67em 0;
}
.yue > h1 {
  margin-top: 0;
  font-size: 2em;
}
.yue h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
.yue h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
.yue h4,
.yue h5,
.yue h6 {
  font-size: 1em;
  margin: 1.6em 0 1em 0;
}
.yue h6 {
  font-weight: 500;
}
.yue p {
  margin-top: 0;
  margin-bottom: 1.46em;
}
.yue a {
  color: #268ED4;
  /*color: #111;*/
  text-decoration: none;
  word-wrap: break-word;
  -moz-text-decoration-color: rgba(0, 0, 0, 0.4);
  text-decoration-color: rgba(0, 0, 0, 0.4);
}
.yue a:hover {
  color: #555;
  -moz-text-decoration-color: rgba(0, 0, 0, 0.6);
  text-decoration-color: rgba(0, 0, 0, 0.6);
}
.yue strong,
.yue b {
  font-weight: 700;
  color: #222;
}
.yue em,
.yue i {
  font-style: italic;
  color: #222;
}
.yue img {
  max-width: 100%;
  height: auto;
  margin: 0.2em 0;
}
.yue a img {
  /* Remove border on IE */
  border: none;
}
.yue figure {
  position: relative;
  clear: both;
  outline: 0;
  margin: 10px 0 30px;
  padding: 0;
  min-height: 100px;
}
.yue figure img {
  display: block;
  max-width: 100%;
  margin: auto auto 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.yue figure figcaption {
  position: relative;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #666665;
}
.yue figure figcaption a {
  text-decoration: none;
  color: #666665;
}
.yue hr {
  display: block;
  width: 14%;
  margin: 40px auto 34px;
  border: 0 none;
  border-top: 3px solid #dededc;
}
.yue blockquote {
  margin: 0 0 1.64em 0;
  border-left: 3px solid #dadada;
  padding-left: 12px;
  color: #666664;
}
.yue blockquote a {
  color: #666664;
}
.yue ul,
.yue ol {
  margin: 0 0 24px 6px;
  padding-left: 16px;
}
.yue ul {
  list-style-type: square;
}
.yue ol {
  list-style-type: decimal;
}
.yue li {
  margin-bottom: 0.2em;
}
.yue li ul,
.yue li ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 14px;
}
.yue li ul {
  list-style-type: disc;
}
.yue li ul ul {
  list-style-type: circle;
}
.yue li p {
  margin: 0.4em 0 0.6em;
}
.yue .unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.yue code,
.yue tt {
  color: #808080;
  font-size: 0.96em;
  background-color: #f9f9f7;
  padding: 1px 2px;
  border: 1px solid #dadada;
  border-radius: 3px;
  font-family: "Inconsolata", "Menlo", monospace;
}
.yue pre {
  margin: 1.64em 0;
  padding: 7px;
  border: none;
  border-left: 3px solid #dadada;
  padding-left: 10px;
  overflow: auto;
  line-height: 1.5;
  font-size: 0.96em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #4c4c4c;
  background-color: #f9f9f7;
}
.yue pre code,
.yue pre tt {
  color: #4c4c4c;
  border: none;
  background: none;
  padding: 0;
}
.yue table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  font-size: 0.96em;
}
.yue th,
.yue td {
  text-align: left;
  padding: 4px 8px 4px 10px;
  border: 1px solid #dadada;
}
.yue td {
  vertical-align: top;
}
.yue tr:nth-child(even) {
  background-color: #efefee;
}
.yue iframe {
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}
.yue figure iframe {
  margin: auto;
}
.yue table pre {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
@media (min-width: 1100px) {
  .yue blockquote {
    margin-left: -24px;
    padding-left: 20px;
    border-width: 4px;
  }
  .yue blockquote blockquote {
    margin-left: 0;
  }
  .yue figure img {
    margin: 0 0 4px;
  }
  .yue figure figcaption:before {
    width: 25%;
    margin-left: 75%;
    border-top: 1px solid #dededc;
    display: block;
    content: "";
    margin-bottom: 10px;
  }
  .yue figure figcaption {
    position: absolute;
    left: -172px;
    width: 150px;
    top: 0;
    text-align: right;
    margin-top: 0;
  }
}
