<!DOCTYPE>
<html lang="zh-CN">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="PaddingMe JavaScript front-end HTML CSS" >
    <meta name="robots" content="index,follow">
    <meta name="description" content="PaddingMe - a front-end developer">
    <meta name="application-name" content="padding.me">

    <title>{{ page.title }}{{ page.post_title_label }}</title>
    <link rel="author" href="https://plus.google.com/u/1/105241873904238310190/posts">
    <!-- <link rel="stylesheet" href="/css/syntax.css"> -->
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/social.css">

    <!-- <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="http://feeds.feedburner.com/paddingme" /> -->
    <!--[if lte IE 7]><script src="/javascripts/icomoon-lte-ie7.js"></script><![endif]-->

</head>

<body id="{{page.body_id}}">

    <!--[if lt IE 9]><div style='clear: both; height: 59px; width=820px; position: relative;'> <a href="http://www.google.com/chrome"><img src="http://www.ie6countdown.com/images/upgrade.jpg" border="0" height="42" width="820" alt="您的浏览器版还处在远古时代，强烈建议您更新换代，使用chrome访问我的网站。" /></a></div><![endif]-->

    <div id="content-wrapper">

        {{ content }}

        <div id="push"></div>
    </div>

    

    <a href="javascript:;" id="btn" title="回到顶部"></a>


    <div id="footer " style="text-align:center;margin-top:1em;">
        <p id="contact-info"><a class="core-nav yue" href="mailto:padding4me@gmail.com">padding4me@gmail.com</a>
        </p>
        <p id="copyright">
            <a class="core-nav icon-cc" rel="license" title="Some Rights Reserved — Creative Commons License" href="https://github.com/paddingme/paddingme.github.io/blob/master/README.markdown#license"></a>
        </p>
    </div>



    <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-1.8.3.min.js"></script>
    <script>
    if (!window.jQuery) {
        var script = document.createElement('script');
        script.src = "/javascripts/jquery-1.8.3.min.js";
        document.body.appendChild(script);
    }
    </script>


    <!-- main-->
    <script src="/javascripts/social.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/post.js"></script>
    <script src="/javascripts/google_analytics.js"></script>
    <script src="/javascripts/header.js"></script>
    

    
</body>

</html>
