<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}{{ page.post_title_label }}</title>

    <meta name="author" content="PaddingMe" />
    <meta name="publisher" content="PaddingMe" />
    <meta name="keywords" content="PaddingMe JavaScript front-end HTML CSS" />
    <meta name="description" content="PaddingMe - a front-end developer" />

    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection, print" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection, print" />
    <link rel="stylesheet" href="/css/font.css" type="text/css" media="screen, projection, print" />
    <!-- <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="http://feeds.feedburner.com/paddingme" /> -->
    <!--[if lte IE 7]><script src="/javascripts/icomoon-lte-ie7.js"></script><![endif]-->

    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script> -->
    <script src="/javascripts/header.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-1.8.3.min.js" type="text/javascript"></script> 
    <script src="/javascripts/post.js" type="text/javascript"></script>
    <script src="/javascripts/google_analytics.js" type="text/javascript"></script>
  </head>
  <body id="{{page.body_id}}">
    <!--[if lt IE 9]><div style='clear: both; height: 59px; width=820px; position: relative;'> <a href="http://www.google.com/chrome"><img src="http://www.ie6countdown.com/images/upgrade.jpg" border="0" height="42" width="820" alt="It looks like you're trying to use the web. You should download a modern browser. Seriously." /></a></div><![endif]-->
    <div id="content-wrapper">

      {{ content }}

      <div id="push"></div>
    </div>
    <div id="footer">
      <p id="contact-info"><a class="core-nav" href="mailto:padding4me@gmail.com">padding4me@gmail.com</a></p>
      <p id="copyright">
        <a class="core-nav icon-cc" rel="license" title="Some Rights Reserved — Creative Commons License" href="https://github.com/paddingme/paddingme.github.io/blob/master/README.markdown#license"></a>
      </p>
    </div>
  </body>
</html>
