---
layout: base
body_id: interior-page
---
<div id="header">
  <ul>
    <li>
      <a class="core-nav icon-quill" href="/blog" title="PaddingMe - Blog"></a>
    </li>
    <li>
      <a class="core-nav icon-weibo" href="http://weibo.com/yahoo2651" title="臭臭手抽抽 - paddingme on microblog(weibo)">&#x3433;</a>
    </li>
    <li>
      <a class="core-nav icon-twitter" href="https://twitter.com/paddingme
      " title="paddingme - paddingme on Twitter"></a>
    </li>
    <li>
      <a class="core-nav icon-github" href="http://github.com/paddingme" title="臭臭手抽抽 - paddingme on GitHub"></a>
    </li>
    <li>
      <a class="core-nav icon-info" href="/about.html" title="paddingme - About"></a>
    </li>
    <li>
      <a class="core-nav icon-search" id="search-icon" href="#" title="Search padding.me"></a>
    </li>
  </ul>
  <div style="clear:both"></div>
  <div id="search">
    <form action="http://www.google.com/cse" id="cse-search-box" style="display:none;">
      <div>
        <input type="hidden" name="cx" value="012926632951468748908:1kf2gp-ylyw" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="text" name="q" width="100%"/>
        <input type="submit" name="sa" value="Search" />
      </div>
    </form>
    <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
  </div>
</div>
<div style="clear:both"></div>
<div id="content">
<div class="yue">

  {{ content }}

</div>
</div>
