---
layout: base
body_id: interior-page
---
<div id="header">
  <ul>
    <li>
      <a class="core-nav icon-quill-2" href="/blog" title="Jason Rudolph - Blog"></a>
    </li>
    <li>
      <a class="core-nav icon-feed" href="http://feeds.feedburner.com/jasonrudolph" title="Jason Rudolph - Atom/RSS Feed"></a>
    </li>
    <li>
      <a class="core-nav icon-twitter" href="http://twitter.com/jasonrudolph" title="Jason Rudolph - jasonrudolph on Twitter"></a>
    </li>
    <li>
      <a class="core-nav icon-github" href="http://github.com/jasonrudolph" title="Jason Rudolph - jasonrudolph on GitHub"></a>
    </li>
    <li>
      <a class="core-nav icon-info-2" href="/about.html" title="Jason Rudolph - About"></a>
    </li>
    <li>
      <a class="core-nav icon-search" id="search-icon" href="#" title="Search jasonrudolph.com"></a>
    </li>
  </ul>
  <div style="clear:both"></div>
  <div id="search">
    <form action="http://www.google.com/cse" id="cse-search-box" style="display:none;">
      <div>
        <input type="hidden" name="cx" value="017017719923970963940:ggcsf-ihsqm" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="text" name="q" width="100%"/>
        <input type="submit" name="sa" value="Search" />
      </div>
    </form>
    <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
  </div>
</div>
<div style="clear:both"></div>
<div id="content">

  {{ content }}

</div>
